<div class="container mt-4">
  <%= render "public/shared/error_messages", resource: @user %>
  <div class="row">
    <div class="col-6">
      <section class="inner">
       <h2 class="section-ttl mb-5">新規会員登録</h2>
        <%= form_with model:@user,url: user_registration_path do |f| %>
            <table>
              <thead>
                <th></th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td><%= f.label :name,"名前",class: "font-weight-bold"%></td>
                  <td colspan="2"><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "user_name"%></td>
                </tr>
                <tr>
                  <td><%= f.label :kana_name,"フリガナ",class: "font-weight-bold" %></td>
                  <td colspan="2"><%= f.text_field :kana_name, autocomplete: "kana_name", class: "user_kana_name" %></td>
                </tr>
                <tr>
                  <td><%= f.label :email,"メールアドレス",class: "font-weight-bold" %></td>
                  <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
                </tr>
                <tr>
                  <td><%= f.label :password,"パスワード(#{@minimum_password_length} 文字以上)",class: "font-weight-bold" %></td>
                  <td colspan="2"><%= f.password_field :password, autocomplete: "new-password"%></td>
                </tr>
                <tr>
                  <td><%= f.label :password_confirmation,"パスワード（確認用）",class: "font-weight-bold" %></td>
                  <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2"><%= f.submit "新規登録", class: "btn btn-success" %></td>
                </tr>
              </tbody>
            </table>
        <% end %>
        <h2 class="section-ttl">既に登録済みの方</h2>
        <p><%= link_to "こちら", new_user_session_path, class: "underline text-danger px-3" %>からログインしてください。</p>
      </section>
    </div>
  </div>
</div>

