<h2>Results index</h2>
  <!--検索対象モデルがUserの時 -->
  <% if @model == "User" %>
  <h1>会員一覧</h1>
  <table>
    <th>
    <% @users.each do |user| %>
      <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
      </th>
      <th>名前</th>
      <th><%= user.name %></th>
      <th>フリガナ</th><br>
      <th><%= user.kana_name %></th>
      <th><%= link_to "おすすめ作品",user_path(user.id) %></th>
    <% end %>
  </table>
   <!--検索対象モデルがTheaterの時 -->
  <% elsif @model == "Theater" %>
 <h1>映画投稿一覧</h1>
 <% render 'layouts/errors', obj:@theater %>
  <table class='table table-hover table-inverse'>
   <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>ジャンル</th>
      <th>紹介文</th>
    </tr>
   </thead>
   <tbody>
     <% @theaters.each do |theater| %>
      <tr>
        <td><%= theater.title %></td>
        <th><%= @genres.find(theater.genre_id).name %></th>
        <td><%= theater.introduction %></td>
        <td class=<%= "favorite-" + theater.id.to_s %> >
            <%= render "favorites/btn", theater: theater %>
        </td>
        <td><%= render "theater_comments/counter", theater: theater %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
 <!--検索対象モデルがGenreの時 -->
  <% else %>
 <h1>映画投稿ジャンル一覧</h1>
 <% render 'layouts/errors', obj:@theater %>
  <table class='table table-hover table-inverse'>
   <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>ジャンル</th>
      <th>紹介文</th>
    </tr>
   </thead>
   <tbody>
     <% @theaters.each do |theater| %>
      <tr>
        <td><%= theater.title %></td>
        <th><%= @genres.find(theater.genre_id).name %></th>
        <td><%= theater.introduction %></td>
        <td class=<%= "favorite-" + theater.id.to_s %> >
            <%= render "favorites/btn", theater: theater %>
        </td>
        <td><%= render "theater_comments/counter", theater: theater %></td>
      </tr>
     <% end %>
   </tbody>
  </table