<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class="mb-4">映画投稿詳細</h1>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th class="col-2">タイトル</th>
            <th class="col-2">ジャンル</th>
            <th class="col-3">紹介文</th>
            <th class="col-1"></th>
            <th class="col-2"></th>
            <th class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @theater.title %></td>
            <td><%= @genres.find(@theater.genre_id).name %></td>
            <td><%= @theater.introduction %></td>
            <td><%= link_to "編集", edit_theater_path(@theater.id), class: "btn btn-info pull-right" %></td>
            <td class=<%= "favorite-" + @theater.id.to_s %> >
            <%= render "public/favorites/btn", theater: @theater %>
            </td>
            <td class="theater-comments-counter">
            <%= render "public/theater_comments/counter", theater: @theater %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="theater-comments-index">
      　<%= render "public/theater_comments/index", theater: @theater %>
      </div>
        <%= render "public/theater_comments/form", theater: @theater, theater_comment: @theater_comment %>
    </div>
  </div>
</div>