<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>会員編集</h2>
    <%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-success ml2" %>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @customer %>
     <div class="form-group">
        <%= f.label :画像 %>
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
       <div class="form-group">
        <%= f.label :名前 %>
        <%= f.text_field :name, autocomplete: "name", class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :フリガナ%>
        <%= f.text_field :kana_name, autocomplete: "kana_name", class: "form-control kana_name"%>
      </div>
      <div class="form-group">
        <%= f.label :メールアドレス%>
        <%= f.email_field :email, autocomplete: "email", class: "form-control email" %>
      </div>

      <div class="form-group mb-5">
        <%= f.label :自己紹介文 %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="row mb-3">
        <div class="col-2"></div>
        <%= f.submit :更新する, class: "btn btn-info"%>
        <div class="col-3"></div>
        <%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
